<div class="container-fluid">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form class="contact2-form validate-form">
                <span class="contact2-form-title">
                    Contato
                </span>

                <div class="wrap-input2 validate-input" data-validate="Name is required">
                    <span class="focus-input2" data-placeholder="NOME"></span>
                    <input class="input2" type="text" name="name">
                </div>

                <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <span class="focus-input2" data-placeholder="EMAIL"></span>
                    <input class="input2" type="text" name="email">
                </div>

                <div class="wrap-input2 validate-input" data-validate = "Message is required">
                    <span class="focus-input2" data-placeholder="MENSAGEM"></span>
                    <textarea class="input2" name="message"></textarea>
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <button class="contact2-form-btn">
                           Enviar Menssagem
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>