<!-- Page Content -->
<header class="py-2 mb-2" style="background-color: white; margin-top: 50px;">
    <div class="container h-80">
        <div class="row h-80 align-items-center">
            <div class="col-lg-2 pt-2">
                <img src="https://s3.amazonaws.com/sample-login/companies/avatars/000/003/714/original/logo_vortx.jpg?1539802031"
                    width="100px" height="100px" />
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-black-50 mt-2 mb-2">VxTel - Seus minutos com muito mais economia</h1>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/02.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Conheça Nossas Tarifas</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" [routerLink]="['/planos']">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/01.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Faça uma Simulação</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni
                        sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" [routerLink]="['/simulacao']">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/03.png" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Contato</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" [routerLink]="['/contato']" >Saiba mais</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Fim Content -->